HF_TOKEN=

OPENAI_API_KEY=

# Redis URL for Celery Broker
DATABASE_URL=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# Path to the main whisper.cpp executable
WHISPER_CPP_PATH=
# Path to the whisper.cpp model file
WHISPER_CPP_MODEL_PATH=
# Path to ffmpeg executable
FFMPEG_PATH=

# Ollama configuration
OLLAMA_BASE_URL=
OLLAMA_MODEL=

CHROMA_DB_PATH=
DEEPGRAM_API_KEY=

# Wait 60 seconds before connecting using these details, or login to https://console.neo4j.io to validate the Aura Instance is available
NEO4J_URI=
NEO4J_USERNAME=
NEO4J_PASSWORD=
NEO4J_DATABASE=
AURA_INSTANCEID=
AURA_INSTANCENAME=
